<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>
    <bean id="electricityStation" class="com.griddynamics.Annotations.station.ElectricityStation"/>
    <bean id="waterPumpStation" class="com.griddynamics.Annotations.station.WaterPumpStation">
        <constructor-arg type="java.lang.String" index="0" value="District #13 Waterpump Station"/>
        <constructor-arg type="int" index="1" value="1000"/>
        <constructor-arg type="int" index="2" value="4"/>
    </bean>
    <bean id="depot" class="com.griddynamics.Annotations.station.railway.Depot"/>
    <bean id="railwayStation" class="com.griddynamics.Annotations.station.railway.RailwayStation"/>

    <bean id="fuelTank" class="com.griddynamics.Annotations.station.petrol.FuelTank"/>
    <bean id="fuelPump" class="com.griddynamics.Annotations.station.petrol.FuelPump"/>
    <bean id="petrolStation" class="com.griddynamics.Annotations.station.petrol.PetrolStation"/>

<!--    <bean id="tunnelLane" class="com.griddynamics.Annotations.infrastructured.TunnelLane"/>-->
    <bean id="tunnel" class="com.griddynamics.Annotations.infrastructured.Tunnel"/>

    <bean id="metroLane" class="com.griddynamics.Annotations.infrastructured.MetroLane"/>
    <bean id="metro" class="com.griddynamics.Annotations.infrastructured.Metro"/>

    <bean id="districtSystem" class="com.griddynamics.Annotations.DistrictSystem"/>
    <!--  Создание класса-фабрики через конструктор  -->
    <!--    <bean id="stationFactory" class="com.griddynamics.ElectricityStation"/>-->

    <!--     Создание через статический метод-фабрику-->
    <!--    <bean id="waterpumpStation"-->
    <!--          class="com.griddynamics.WaterPumpStation"-->
    <!--          factory-method="getInstance"/>-->

    <!--  Создание через класс-фабрику  -->
    <!--    <bean id="stationFactory" class="com.griddynamics.StationFactory"/>-->
    <!--    <bean id="electricityStation" factory-bean="stationFactory" factory-method="createElectricityStation"/>-->
    <!--    <bean id="waterPumpStation" factory-bean="stationF  actory" factory-method="createWaterPumpStation"/>-->

    <!--    <bean id="waterPumpStation" class="com.griddynamics.WaterPumpStation"/>-->
    <!--    <bean id="waterPumpStation" class="com.griddynamics.WaterPumpStation">-->
    <!--        <constructor-arg name = "capacity" value="1000"/>-->
    <!--        <constructor-arg name = "name" value="District #13 WaterPump Station"/>-->
    <!--        <constructor-arg name = "pumpQuantity" value="4"/>-->
    <!--    </bean>-->
    <!--    -->

    <!--    <bean id="waterPumpStation" class="com.griddynamics.WaterPumpStation">-->
    <!--        <constructor-arg index="1" value="1000"/>-->
    <!--        <constructor-arg index="0" value="District #13 WaterPump Station"/>-->
    <!--        <constructor-arg index="2" value="4"/>-->
    <!--    </bean>-->

    <!--    <bean id="waterPumpStation" class="com.griddynamics.WaterPumpStation">-->
    <!--        <constructor-arg type="int" index="1" value="1000"/>-->
    <!--        <constructor-arg type="java.lang.String" value="District #13 WaterPump Station"/>-->
    <!--        <constructor-arg type="int" index="2" value="4"/>-->
    <!--    </bean>-->

    <!--    <bean id="electricityStation" class="com.griddynamics.ElectricityStation"/>-->
    <!-- Создание компонентов (бина) и внедрение зависимостей при помощи конструктора -->
    <!--    <bean id="districtSystem" class="com.griddynamics.DistrictSystem">-->
    <!--        <constructor-arg ref="waterPumpStation"/>-->
    <!--        <constructor-arg ref="electricityStation"/>-->
    <!--    </bean>-->

    <!-- Создание компонентов (бина) и внедрение зависимостей при помощи конструктора и сеттера-->
    <!--    <bean id="districtSystem" class="com.griddynamics.DistrictSystem">-->
    <!--        <property name="waterPumpStation" ref="waterPumpStation"/>-->
    <!--        <constructor-arg ref="electricityStation"/>-->
    <!--    </bean>-->
</beans>